[Desktop Entry]
Name=Signal
Exec=/usr/bin/signal-desktop --use-tray-icon --disable-seccomp-filter-sandbox %U
Terminal=false
Type=Application
Icon=signal-desktop
StartupWMClass=Signal
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;
Categories=Network;InstantMessaging;Chat;
